@import url(https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100;200;300;400;500;600;800;900&display=swap);

:root {
  --text-color: linear-gradient(to right, #3b82f6, #d946ef);
}

.showcase .slogan {
  font-family: "Fira Sans Extra Condensed";
}

.slogan-section .slogan-div p {
  background: var(--text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

.get-started {
  background: var(--text-color);
}
